#include <os2.h>
#include "fgres.h"

ICON FG_PROGRAM_ID "fgos2.ico"

MENU FG_PROGRAM_ID
BEGIN
  SUBMENU "~File",MID_FILE
  BEGIN
    MENUITEM "~Open\tCtrl+O",CMD_FILEOPEN
    MENUITEM SEPARATOR
    MENUITEM "E~xit\tCtrl+X",CMD_EXIT
  END
END

ACCELTABLE FG_PROGRAM_ID
BEGIN
  "f", MID_FILE, ALT
  "f", MID_FILE, CONTROL
  "o", CMD_FILEOPEN, CONTROL
  "o", CMD_FILEOPEN, ALT
  "x", CMD_EXIT, CONTROL
  "x", CMD_EXIT, ALT
END
